body {  
    font-family: 'Poppins', sans-serif;
    color: #000000;
	background-color: #082032;
}

.container {
    background-color: #7cc0f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 150px auto;
    padding: 25px;
    border-radius: 5px;
}
h1 {
    text-align: center;
}

#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid #D3D3D3;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: #082032;
    color: white;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #b0a9a9;
    border-radius: 40px;
    font-size: 18px;
}

#restartButton:hover {
    background-color: #082032;
    color: #FFFFFF;
}